# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/
*.m
ios/todo/Info.plist
ios/todo/Images.xcassets/AppIcon.appiconset/Contents.json
ios/todo/AppDelegate.mm
ios/todo.xcodeproj/project.pbxproj
Gemfile.lock
babel.config.js
Gemfile
ios/Podfile
ios/todo.xcodeproj/xcshareddata/xcschemes/todo.xcscheme
ios/todo/AppDelegate.h
ios/todo/Images.xcassets/Contents.json
ios/todo/LaunchScreen.storyboard
.buckconfig
.bundle/config
.eslintrc.js
.flowconfig
.prettierrc.js
.ruby-version
.watchmanconfig
__tests__/App-test.js
android/app/_BUCK
android/app/build.gradle
android/app/build_defs.bzl
android/app/debug.keystore
android/app/proguard-rules.pro
android/app/src/debug/AndroidManifest.xml
android/app/src/debug/java/com/todo/ReactNativeFlipper.java
android/app/src/main/AndroidManifest.xml
android/app/src/main/java/com/todo/MainActivity.java
android/app/src/main/java/com/todo/MainApplication.java
android/app/src/main/java/com/todo/newarchitecture/components/MainComponentsRegistry.java
android/app/src/main/java/com/todo/newarchitecture/MainApplicationReactNativeHost.java
android/app/src/main/java/com/todo/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
android/app/src/main/jni/Android.mk
android/app/src/main/jni/MainApplicationModuleProvider.cpp
android/app/src/main/jni/MainApplicationModuleProvider.h
android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
android/app/src/main/jni/MainComponentsRegistry.cpp
android/app/src/main/jni/MainComponentsRegistry.h
android/app/src/main/jni/OnLoad.cpp
android/app/src/main/res/drawable/rn_edit_text_material.xml
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
android/app/src/main/res/values/strings.xml
android/app/src/main/res/values/styles.xml
android/build.gradle
android/gradle.properties
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
android/gradlew
android/gradlew.bat
android/settings.gradle
ios/todoTests/Info.plist
metro.config.js
